In [14]:
import pandas as pd
import pymorphy2
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd
import ssl

ModuleNotFoundError: No module named 'pymorphy2'

In [7]:
with open('datesss.txt', encoding='utf8') as d:
    full_file = d.readlines()
listt=[json.loads(a) for a in ful if 'index' not in a]
listt2=pd.DataFrame(listic)

In [10]:
l1=listt2[['vacancy','income']][s['income']!='не указан']

In [11]:
l1

,vacancy,income
0,Начинающий специалист по залоговому кредитованию,от 55 000 руб.
1,Начинающий специалист в банк,от 50 000 руб.
2,Менеджер по работе с корпоративными клиентами ...,от 50 000 до 150 000 руб.
3,Менеджер по привлечению юридических лиц,от 80 000 руб.
4,Менеджер по привлечению юридических лиц,от 80 000 руб.
...,...,...
2694,Агент по доставке продуктов Тинькофф,от 40 000 руб.
2695,Агент по доставке продуктов Тинькофф,от 50 000 руб.
2696,Агент по доставке продуктов Тинькофф,от 35 000 руб.
2697,Представитель Тинькофф,от 40 000 руб.
2699,Агент по доставке продуктов Тинькофф,от 40 000 руб.

In [13]:
l1['vacancy']=l1['vacancy'].str.lower()
l1=l1.drop_duplicates()
l1['vacancy'].value_counts()

представитель тинькофф                              11
консультант по работе с клиентами                    8
агент по доставке продуктов тинькофф                 8
менеджер по работе с клиентами                       7
менеджер по доставке продуктов банка                 7
                                                    ..
инженер (сопровождение процессингового центра)       1
менеджер по региональному развитию                   1
специалист в банк                                    1
специалист по проверке кредитных заявок              1
руководитель группы поддержки партнёрских продаж     1
Name: vacancy, Length: 173, dtype: int64

In [30]:
pip3 install pymorphy2

SyntaxError: invalid syntax (<ipython-input-30-c442b8f4b119>, line 1)